body{
    margin: 0;
    padding: 0  ;
    /*background: aqua;*/
    background-color: red;
}
.scroll-bg{
    background: white;
    width: 700px;
    height: 600px;
    margin: 5% 20%;
    padding:10px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 5px;
}
.scroll-obj{
    color: black;
    font-family: cursive;
    font-size: 15px;
    padding: 10px;
}
.de-last-grid{
    font-size: 10px;
}
.sub-body a{
    font-family: Arial;
    font-size: 15px;
    color: black;
}
.sub-body span{
    font-size: 15px;
    color: gray;
}
.right-tool{
    float: right;
}
.sub-body .line{
    width: 100%;
    height: 1px;
    background: gray;
    margin: 10px auto;
}
.styleDes{
    font-size: 15px;
    color: gray;
    font-family: Arial;
}
.img-post{
    width: 92%;
    height: 400px;
    background: wheat;
    display: none;
}
