<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create SubReddit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .discard{
            width: 615px;
        }
        .post{
            width: 615px;
        }
    </style>
</head>
<body>
<div th:replace="header::menu"></div>
<br>

<div class="container">
    <div>
        <a th:href="@{/posts}" class="text-decoration-none" style="font-family: Arial"><b>< Back</b> </a>
    </div>

    <div class="card p-4" style="width: 81rem;">
        <h4>Create SubReddit</h4>
        <form th:action="@{/subreddit/create-subreddit}" method="post">
            <div class="form-group">
                <input th:field="${subReddit.subRedditTitle}" class="form-control" id="title"name="title">
            </div>
            <br/>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <a th:href="@{/subreddit/discard-subreddit}">
                        <div class="form-floating mt-3 mb-3">
                            <button type="button" class="btn btn-outline-primary w-100">DISCARD</button>
                        </div>
                    </a>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating mt-3 mb-3">
                        <button class="btn btn-primary w-100" type="submit">POST</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>