<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head th:replace="Header::myheader">
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="icon" href="https://th.bing.com/th/id/OIP.gTqHSIO2_Eu3hn7uafDEoQHaHa?pid=ImgDet&rs=1">
</head>
<body>
<div th:replace="header::menu"></div>
<br>
<div class="container">
    <a th:href="@{'/posts/read-post/'+${post.postId}}" style="font-family: 'Arial'; text-decoration: none"><span>< </span>Back</a>
    <div class="card p-4" style="width: 81rem;">
        <h4>Update Post</h4>

        <br>
        <form th:action="@{'/posts/update-post/'+${post.postId}}" method="post" enctype="multipart/form-data">
            <div class="auto-field" >
                <input type="hidden" th:field="${post.postId}">
                <input type="hidden" th:field="${post.imageUrl}">
                <input type="hidden" th:field="${post.vote}">
            </div>
            <div class="form-group">
                <input  class="form-control" id="title" placeholder="Title" th:field="${post.postTitle}">
            </div>
            <br/>
            <div class="form-group">
                <textarea class="form-control" rows="5" id="description" placeholder="Description"
                          th:field="${post.description}"></textarea>
            </div>
            <br/>
            <select th:field="*{post.subReddit.id}" class="form-select" aria-label="Disabled select example" enabled >
                <option th:unless="${#lists.isEmpty(subreddits.subreddits)}" th:each="subreddit, iter: ${subreddits.subreddits}" th:value="${subreddit.id}" th:text="${subreddit.subRedditTitle}">Music </option>
            </select>
            <br/>
            <!--        Choose file            -->
            <div class="form-group">
                <input type="file" onchange="loadFile(event)"  name="file" class="form-control" id="exampleInputPassword10">
            </div>
            </br>
            <div>
                <img id="output" th:src="${post.imageUrl}" width="80%"  alt="image" />
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <a th:href="@{'/posts/edit-post/discard/'+${post.postId}}">
                        <div class="form-floating mt-3 mb-3">
                            <button type="button" class="btn btn-outline-primary w-100">DISCARD</button>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating mt-3 mb-3">
                        <button class="btn btn-primary w-100" type="submit">POST</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<script>
    const loadFile = function (event) {
        const image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
</body>
</html>