<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="myheader">
  <meta charset="UTF-8">
  <title>Clone Reddit</title>
  <link th:href="@{/styles/style.css}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="icon" href="https://th.bing.com/th/id/OIP.gTqHSIO2_Eu3hn7uafDEoQHaHa?pid=ImgDet&rs=1">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</head>
<body>
<nav th:fragment="menu" class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand"><strong>CloneReddit</strong></a>
    <form class="d-flex">
      <button class="btn btn-outline-success me-4" type="submit">Sign In</button>
      </n>
      <button class="btn btn-outline-success" type="submit">Sign Up</button>
    </form>
  </div>
</nav>
</body>
</html>