<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body style="background-color: whitesmoke; font-family: Arial">
<div th:replace="header::menu"></div>
<br>
<div class="container mt-5 w-75">
    <a th:href="@{/posts}" class="text-decoration-none" style="font-family: Arial"><b>< Back</b> </a>
    <div class="row" style="background-color: white; margin: 15px 0 ; padding: 15px 10px; border-radius: 5px; max-width: 1000px" th:unless="${#lists.isEmpty(subReddits.subreddits)}" th:each="subReddit, iter: ${subReddits.subreddits}">
        <div class="col-sm-10 col-md-10 col-lg-10">
            <a href="#" th:text="${subReddit.subRedditTitle}" style="font-weight: bold; font-size: 18px; color: black">Music</a>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div style="text-align: right">
                <span class="right-tool ">
                   <a th:href="@{'/subreddit/edit-subredditform/'+${subReddit.id}+'?page=editpage'}">
                         <i class='fas fa-pencil-alt'></i>
                   </a>
                    <a th:href="@{'/subreddit/delete-subreddit/'+${subReddit.id}}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
             </span>
            </div>
        </div>
    </div>
</div>


</body>
</html>