<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Dangrek&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" th:href="@{/static/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Dangrek&display=swap" rel="stylesheet">
</head>
<body style="background-color: whitesmoke">
<div class="container-fluid">
    <div th:replace="header::menu"></div>

    <!--  Post form  -->
    <div class="container p-3">
        <div class="row w-70">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row bg-white">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-floating mt-3">
                                <p style="font-size: 30px"><b>Create Post</b></p>
                            </div>
                        </div>
                    </div>
                    <!--        post form            -->
                    <form th:action="@{/posts/create-a-post}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <input th:field="${post.postTitle}" type="text" class="form-control" id="title_input" placeholder="title">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-floating mt-3">
                                        <textarea  th:field="${post.description}" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                        <label for="floatingTextarea2">Description</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--        Drop down            -->
                        <div class="mt-3">
                            <select th:field="*{post.subReddit.id}" class="form-select" aria-label="Disabled select example" enabled >
                                <option th:unless="${#lists.isEmpty(subredditlistObj.subreddits)}" th:each="subreddit, iter: ${subredditlistObj.subreddits}" th:value="${subreddit.id}" th:text="${subreddit.subRedditTitle}">Music </option>
                            </select>
                        </div>

                        </br>

                        <!--        Choose file            -->
                        <div class="form-group">
                            <input type="file" onchange="loadFile(event)"  name="file" class="form-control" id="exampleInputPassword10">
                        </div>
                        </br>
                        <div>
                            <img id="output" src="" width="80%"  alt="image" />
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a th:href="@{/posts}">
                                    <div class="form-floating mt-3 mb-3">
                                        <button type="button" class="btn btn-outline-primary w-100">DISCARD</button>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-floating mt-3 mb-3">
                                    <button class="btn btn-primary w-100" type="submit">POST</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--         end form           -->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const loadFile = function (event) {
        const image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>
