<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link th:href="@{/styles/read-post.css}" rel="stylesheet">
    <link th:href="@{/styles/comment.css}" rel="stylesheet">
</head>
<body>
`<div th:replace="header::menu"></div>
<div class="container post-body">
    <a th:href="@{/posts}" style="font-family: 'Arial'; text-decoration: none"><span>< </span>Back</a>
</div>
<div class="post-body">
    <div class="row">
        <div class="col-1">
            <span><a th:href="@{'/posts/upvote/post/'+${post.postId}+'?vote='+${post.vote}+'&page=readpost'}"><i style="{font-size: 10px;}" class="fas fa-arrow-up"></i></a></span>
        </div>
        <div class="col-11">
            <div class="sub-body">
                <a href="#" ><b th:text="${post.subReddit.subRedditTitle}">Subreddit</b></a>
                <span th:text="${#temporals.format(post.createdDate,'dd-MM-yyyy')}">10/05/2022</span>
                <span class="right-tool">
                         <a th:href="@{'/posts/edit-post/'+${post.postId}}"><i class='fas fa-pencil-alt'></i></a>
                         <a th:href="@{'/posts/delete/'+${post.postId}}"><i class="fas fa-trash-alt "></i></a>
                    </span>
                <div class="line"></div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-1">
            <span style="{color: gray}" th:text="${post.vote}">0</span>
        </div>
        <div class="col-11">
            <div class="sub-body">
                <a href="#" th:text="${post.postTitle}"><b>post title</b></a>
            </div>
        </div>

    </div>
    <div class="row mt-3">
        <div class="col-1">
            <span><a th:href="@{'/posts/downvote/post/'+${post.postId}+'?vote='+${post.vote}+'&page=readpost'}"><i class="fas fa-arrow-down"></i></a></span>
        </div>
        <div class="col-11">
            <div class="sub-body">
                <p class="styleDes" th:text="${post.description}">Description</p>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-11">
            <div class="sub-body">
                <div th:if="${post.imageUrl != null}" class="card bg-dark text-white">
                    <img  th:src="${post.imageUrl}" class="card-img" alt="image">
                    <div class="card-img-overlay">

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-3">
        <div class="col-1">
        </div>
        <div class="col-11">
            <span><i class="fas fa-comment-dots"></i></span>
            <span class="styleDes">comment</span>
            <span class="styleDes" th:text="${'('+post.comments.size()+')'}">(0)</span>
            <form th:action="@{'/comment/add/'+${post.postId}}" method="post">
                <div class="form-group">
                    <textarea class="form-control" rows="3" th:field="${comment.description}"></textarea>
                </div>
                <div>
                    <div class="row mx-3 mb-4 mt-3">
                        <!--        Discard btn          -->
                        <div class="col-lg-6 col-md-6 col-sm-12 ps-0">
                            <a th:href="@{'/posts/read-post/'+${post.postId}+'/discard'}" class="btn btn btn-outline-primary w-100" style="font-family: Arial">DISCARD</a>
                        </div>
                        <!--        Add btn        -->
                        <div class="col-lg-6 col-md-6 col-sm-12 pe-0" style="font-family: Arial; color:white">
                            <button type="submit" class="btn btn-primary w-100">POST</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="comment-body" th:if="${#lists.isEmpty(post.comments)}">
    <h4>No Comments</h4>
</div>
<div class="comment-body" th:unless="${#lists.isEmpty(post.comments)}" th:each="comment, iter: ${post.comments}">
    <div class="row justify-content-end">
        <div class="col-1">
            <span><a th:href="@{'/comment/upvote/comment/'+${comment.id}+'?vote='+${comment.vote}}"><i class="fas fa-arrow-up"></i></a></span>
        </div>
        <div class="col-11">
            <div class="sub-body">
                <span th:text="${#temporals.format(comment.createdDate,'dd-MM-yyyy')}">10/05/2022</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <span style="{color: gray}" th:text="${comment.vote}">0</span>
        </div>
        <div class="col-11">
            <div class="sub-body">
                <span class="styleDes" th:text="${comment.description}">Description</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <span><a th:href="@{'/comment/downvote/comment/'+${comment.id}+'?vote='+${comment.vote}}"><i class="fas fa-arrow-down"></i></a></span>
        </div>
        <div class="col-11">
        </div>

    </div>

</div>

<br>`
</body>
</html>