
.comment-body{
    width:50%;
    background-color: white;
    margin-top: 20px;
}
.comment-body.row.sub-body span{
    font-size: 12px;
    color: gray;
}
.comment-body.row.styleDes{
    font-size: 12px;
    color: gray;
    font-family: Arial;
}
.post-comment.comment-body.row.col-1{
    text-align: center;
    padding:5px;
}