body{
    margin: 0 auto;
    padding: 0  ;
    background: #F2F3F7;
}
.post-body{
    width:50%;
    margin:0 auto;
    background-color: white;
    padding:20px;
}
.de-last-grid{
    font-size: 10px;
}
.sub-body a{
    font-family: Arial;
    font-size: 12px;
    color: black;
}
.sub-body span{
    font-size: 12px;
    color: gray;
}
.right-tool{
    float: right;
}
.sub-body .line{
    width: 100%;
    height: 1px;
    background: gray;
    margin: 10px auto;
}
.styleDes{
    font-size: 12px;
    color: gray;
    font-family: Arial;
}
.img-post{
    width: 92%;
    height: 400px;
    background: wheat;
    display: none;
}
.col-1{
    text-align: center;
}